@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik+Burned&display=swap');

:root {
    --color-red: #e63946;
    --color-white: #ffffff;
    --color-blue-1: #a8dadc;
    --color-blue-2: #457b9d;
    --color-blue-3: #1d3557;
    --color-grey-1: #595959;
    --color-grey-2: #fafafa;
}
* {
    margin:0;
    padding:0;
    border:0;
    font-family: 'Poppins', sans-serif;
}

.hidden {
    top: -100% !important;
}

html, body {
    margin: 0;
    height: 100%;
    background-color: var(--color-white);
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    padding: 0 5em;
    gap: 1em;
    box-shadow: 0 -6px 12px black
}

#first-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

#first-header div {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

#logo img {
    width: 7em;
}

#second-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5em;
}

.scroll-button {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 100000px;
    background-color: transparent;
}

.unable {
    opacity: 0.5;
    cursor: not-allowed;
}

.scroll-button img {
    width: 1em;
    cursor: pointer;
}

#activities {
    display: flex;
    gap: 2em;
    overflow: auto;
    flex: 1;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}

#activities::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0;
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.activity img {
    width: 2em;
}

#show-filters{
    margin: 1em;
    padding: 0.5em 1em;
    border-radius: 100000px;
    border: 2px solid black;
    background-color: transparent;
}

#show-filters:hover {
    transform: scale(1.1);
}


main {
    display: flex;
    align-items: center;
    gap: 1em;
    padding: 1.5em 5em;
    flex-wrap: wrap;
    overflow: auto;
}

.place {
    display: flex;
    flex-direction: column;
    flex: 0 0 24%;
    gap: 0.5em;
    cursor: pointer;
}

.place-image {
    position: relative;
}

.place-image::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.place-image img  {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.place-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.place-name {
    font-weight: 600;
    color: black;
}

.place-address, .place-distance {
    font-weight: 400;
    color: var(--color-grey-1);
    font-size: 0.8em;
}

#show-map-button {
    position: fixed;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    border-radius: 100000px;
    background-color: black;
    color: white;
    cursor: pointer;
}

#show-map-button img {
    width: 1.3em;
}

#filters {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 100;
}

#filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

#filter-main {
    display: flex;
    flex-direction: column;
    margin: 1em;
    overflow: auto;
    flex: 1;
    gap: 1em;
}

#filter-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    margin: 1em;
}

#filter-header h2 {
    font-weight: 600;
}

#filter-header img {
    cursor: pointer;
    width: 1.5em;
}

#filter-footer button {
    padding: 0.5em 1em;
    border-radius: 100000px;
    cursor: pointer;
}

#reset-filters {
    border: 2px solid black;
    color: black;
    background-color: transparent;
}

#apply-filters {
    color: white;
    background-color: black;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: var(--color-grey-1);
}

.filter {
    display: flex;
    flex-direction: column;
    gap: 2em;
}


.range_container {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding: 0 1em;
}

.sliders_control {
    position: relative;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: #635a5a;
}

input[type=range]::-webkit-slider-thumb, input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

*:focus{
    outline: none;
}

input[type="number"] {
    color: #8a8383;
    width: 50px;
    height: 30px;
    font-size: 16px;
    border: none;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    -webkit-appearance: none;
    margin: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #C6C6C6;
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}

.form_control_container {
    display: flex;
    flex-direction: column;
    gap: 0;
}

.form_control_container__time {
    font-size: 16px;
}
.form_control_container:nth-child(2), #toInput {
    text-align: right;
}
